@import "tailwindcss";

/* background */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  background-attachment: fixed; /* Keeps gradient fixed even when scrolling */
  background-repeat: no-repeat;
  background-size: cover;
  color: white; /* optional */
}

